/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Orbitron:wght@400;500;600;700;800;900&display=swap'); */

@font-face {
    font-family: 'Exo 2';
    src: url('media/fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('media/fonts/Orbitron-VariableFont_wght.ttf');
  }




* {
    box-sizing: border-box;
    font-family: 'Exo 2';
    font-size: 20px;
    color: #ffff;
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: white rgb(11, 11, 19);
    /* scrollbar-base-color: aqua;
    scrollbar-color: aqua rgba(50, 150, 200, 0); */
}

/* html::-webkit-scrollbar-track {
    background-color: green;
  } */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-cont {
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?q=80&w=2342&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:contain;
    background-repeat: repeat;
    /* background: linear-gradient(rgb(20, 24, 39), rgb(0, 0, 0)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

::-webkit-scrollbar {
    display: none;
}


header {
    display: flex;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-family: 'Orbitron';
    font-size: 2rem;
    margin: 50px 15px 30px 15px;
    opacity: 0;
    transform: translateY(20px);
}


.animation-cont {
    height: 500vh;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    max-width: 100vw;
    margin-top: 20px;
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 1.5s;
    transition-delay: 2s;
}

.fade-up {
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 1.5s, transform 1s;
    transition-delay: 1s;
}



.tracker-container {
    z-index: 100;
    width: 100%;
    max-width: 1000px;
    min-height: 650px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.info-cont {
    border-radius: 15px;
    /* border: 2px solid #ffff; */
    background-color: #0f305b;
    padding: 15px;
}

.info-cont h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.info-cont p {
    margin-bottom: 5px;
}


.coordinates-heading {
    margin-top: 10px;
    font-weight: 600;
}

.options-cont {
    display: flex;
    gap: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 20px;
}

.option {
    padding: 10px;
    background-color: rgb(20, 24, 39);
    border-radius: 15px;
    outline: none;
    border: 2px solid #b7f0fb;
}

.option:active {
    border: 2px solid #ecb36e;
}

.bottom-image-cont {
    height: calc(100vw / 3);
    min-height: 150px;
    max-height: 550px;
    background-image: url(media/horizon.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px;
}

footer p {
    margin: 0;
    padding: 0;
}